{:paths ["src"]

 :deps {reagent/reagent            {:mvn/version "1.2.0"}
        re-frame/re-frame          {:mvn/version "1.4.3"}
        cljs-ajax/cljs-ajax        {:mvn/version "0.8.4"}
        org.clojure/core.async     {:mvn/version "1.6.681"}}}
